:root {
  --primary-color: #000080;
  --primary-light: #017DCF;
  --secondary-color: #353152;
  --secondary-light: #CC3300;

  --light-gray: #DCDCDC;
  --dark-gray: #C5C8EE;
}

html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 3rem;
  color: var(--primary-color);
}

