:root {
  --primary-color: #1B00EB;
  --primary-light: #94ddfff3;
  --secondary-color: #353152;
  --secondary-light: #cf5301;

  --light-gray: #E4E7ED;
  --dark-gray: #C5C8EE;
}

html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 3rem;
  color: var(--primary-color);
}

